body{
    background-color: gray;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

main{
    margin: 200px;
    margin-top: 20px;
}


#New-task{
    margin: 0;
}

.title{
    background-color: white;
    vertical-align: middle;

}

#logo{
    vertical-align: middle;
    width: 50px;
}

header{
    margin-bottom: 50px;
}
.container{
    background-color: white;
    padding-left: 40px;
}

.small{
    height: 50px;
    margin-bottom: 5px;
    padding-top: 20px;
}

.big{
    margin-top: 0px;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }